[*]
indent_style = space
insert_final_newline = true

[*.{js,ts,json}]
indent_size = 4

[*.{cs, csproj}]
indent_size = 4

[*.{aspx, cshtml}]
indent_style = tab

[*.{scss, css}]
indent_size = 2

[*.xml]
indent_size = 2
