@page
@model Models.IndexModel
@{
    ViewData["Title"] = "Home page";
    var products = Model.products;
}

<div>
    <h1>Test data</h1>
    @foreach(var item in products){
        <p>@item.ProductName</p>
    }
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
